/*
 * File: common.css
 * Author: Hoa Mai
 * Date: December 22nd, 2013
 * 
 * Description: This file holds the common css properties that
 *     is similar to bootstrap but less extensive.
 */

/* The position of the element */
    /* The position of the element is not relative to the position other dom elements */
.fixed {
    position:fixed;
}

    /* The position of the element is relative to the first ancestor element */
.modal {
    position:absolute;
}

    /* The position is relative to its static position */
.relative {
    position:relative;
}

    /* Has the same position as its parent */
.inherit {
    position:inherit;
}

    /* Default position */
.static {
    position:static;
}

.hidden {
    display:none;
}

/* Table Properties */

    /* No spacing */
.condense {
    margin:0px;
    border-spacing:0px;
    padding:0px;
}


.whiteBackground {
    background-color:white;
}

.blackBackground {
    background-color:black;
}

.cyanBackground {
    background-color:#33B5DB;
}

.cyanButton {
    background-color:#33B5DB;
    color:white;
    font-size:medium;
    font-weight:900;
}

/* prepares the background image to full capacity of the viewing area */
.backgroundImage {
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
}

.full {
    width: 100%;
}

/* The curviness of the table's borders */
.curve5 {
    border-radius: 5px;
}

.curve10 {
    border-radius: 10px;
}

.topCurve5 {
    border-radius:5px 5px 0px 0px;
}

.bottomCurve5 {
    border-radius:0px 0px 5px 5px;
}

/* Vertical Alignment Arrangement */
.top {
    vertical-align:top;
}

.middle {
    vertical-align:middle;
}

.bottom {
    vertical-align:bottom;
}

/* Horizontal Alignment Arrangement */
.left {
    text-align:left;
} 

.right {
    text-align:right;
}

.center {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

/* Cursor Hover Types */
.clickable:hover {
    cursor:pointer;
}

.waitable:hover {
    cursor:wait;
}

.deniable {
    cursor:not-allowed;
}